.jumbotron {
    margin-top: 20px;
    background-color: #4375B6;
    color: white;
}

.row {
    background-color: #94B6E2;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.2em;
    text-align: center;
}

.row img {
    height: 50%;
    width: 50%;
}

a {
    color: white;
    font-size: 1.2em;
}

a:hover {
    color: purple;
}